<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 mb-3 d-flex space-between">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
            <span class="fs-3  fw-bold ms-3">{{ APP_NAME }}</span>
          </a>
          
        </div>
        <div class="col-12 mb-3">
          <ul class="list-unstyled d-flex flex-row space-between">
            <li class="mb-2 mx-auto"><a href="/" class="nav-link">Home</a></li>
            <li class="mb-2 mx-auto"><a href="/register" class="nav-link">Register</a></li>
            <li class="mb-2 mx-auto"><a href="/login" class="nav-link">Login</a></li>
            
          </ul>
        </div>
      
      </div>
    </div>

    <div class="text-center mx-auto">
<b class="text-center">
    Build by <a href="https://facebook.com/rickdeprogrammer" class="text-dark text-decoration-none">{{ DEVELOPER }} with Django </a> .

</b>
    </div>
  </footer>