{% extends "admin/base.html" %}

{% block content %}
<div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead class="table-light">
            <tr>
              <th class="text-truncate">User ID</th>
              <th class="text-truncate">Name</th>
              <th class="text-truncate">App name</th>
              <th class="text-truncate">Generate Password</th>
              <th class="text-truncate">Password Length</th>
              <th class="text-truncate"></th>
              
            </tr>
          </thead>
          <tbody>
{% for password in passwords %}
    <tr>
      <td class="text-truncate"> <a href="" > {{password.user_id}} </a> </td>
        <td class="text-truncate"> {{password.name}} </td>
        <td class="text-truncate"> {{password.app_name}} </td>
        <td class="text-truncate">{{password.generated_password}}</td>
        <td><span class="badge bg-label-info rounded-pill">{{password.password_length}}</span></td>
        <td>
          <a href="/manage_password/?id={{password.id}}">Manage</a><br><br>
          <a href="/delete_password/?id={{password.id}}">Delete</a>
        </td>
      </tr>

{% endfor %}
            
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content%}