{% extends "user/base.html" %}

{% block content %}

<div class=" alert-danger alert">

 <p class="my-3"> Are you sure that you want to delete the password  <span> <i class="fa fa-close text-dark"></i>  </span> </p><br>
  {% for entry in data %} 
    <a href="/view-password"  class="text-decoration-none col-5 me-5"><button class="btn btn-primary">  No  </button> </a>
    <a href="/delete-password?id={{entry.id}}&response=yes"  class="text-decoration-none col-5 mx-auto"><button class="btn btn-primary">  Yes  </button> </a> <br>
{% endfor %}
</div>


{% endblock %}