{% extends "user/base.html" %}

{% block content %}
<form class="mt-4" method="POST">
{% csrf_token %}
    {% for entry in data %}
    <input type="hidden" class="form-control" name="id" value={{ entry.id }} >
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" name="name" value={{ entry.name }} >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">App/Website Name</label>
        <input type="text" class="form-control"  name="app_name" value={{ entry.app_name }} >
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="text" class="form-control" name="password" value={% if generated_password %}{{ generated_password}} {% else %}  {{ entry.generated_password }} {% endif %} >
      </div>
      <div class="my-2 d-flex">
        <div class="col-7">
        <label for="length">Password Length:</label>
    <input type="number" class="form-control" id="length" name="length" value={% if length %}{{ length }} {% else %}   {{ entry.password_length }} {% endif %} min="6" max="64">
        </div>
        <div class="col-4 mt-3 ms-2">
    <input type="submit" name="generate" value={{ _('Generate Password')}} class="btn btn-primary form-control my-2">
        </div>
    </div>
          
{% endfor %}

<input  type="submit" class="btn btn-primary form-control" name="update" value={{_('Update')}}>
</form>


{% endblock %}