{% extends "user/base.html" %}

{% block content %}
<h1 class="text-center mt-3">Generate Password</h1>
<form method="post" class="col-8 mx-auto">
    {% csrf_token %}
    {% if error %}
    <strong class="text-danger my-2">{{error}}</strong>
    {% endif %}
    <div class="mb-2">
        <label for="length">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="" placeholder="Name">
    </div>
    <div class="my-2">
        <label for="length">App/Website Name:</label>
    <input type="text" class="form-control" id="app_name" name="app_name" value="" placeholder="App Name">
    </div>
    <div class="my-2">
        
{% if generated_password %}
<input class="form-control fw-bold" id="generated_password" name="generated_password" value={{ generated_password }} readonly>
{% endif %}
    </div>
    <div class="my-2 d-flex">
        <div class="col-7">
        <label for="length">Password Length:</label>
    <input type="number" class="form-control" id="length" name="length" value={{ length }} min="6" max="64">
        </div>
        <div class="col-4 mt-3 ms-2">
    <button type="submit" class="btn btn-primary form-control my-2">Generate Password</button>
        </div>
    </div>
    <div class="my-2">
        <input class="form-control btn btn-primary" type="submit" name="save_password" value="Save Password">
    </div>
</form>
{% endblock %}