{% extends "user/base.html" %}

{% block content %}

{% if success_message %}
        <p class="alert alert-success" >{{ success_message }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="mx-auto col-8 my-3 ">
        {% csrf_token %}
        <input type="file" name="file"class="form-control" accept=".csv, .json, .txt"> <!-- Adjust accept attribute based on allowed file types -->
        <button type="submit" class="form-control">Upload</button>
    </form>
  


{% endblock %}