{% extends "dashboard.html" %}
{% load static %}
{% block title %}Generate Password{% endblock %}
{% block dashboard %}


  <div class="table-responsive">
    <table class="table caption-top table-md">
        <caption>List of Saved Password</caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">App Name</th>
            <th scope="col">Generated Password</th>
            <th scope="col">Password Length</th>
          </tr>
        </thead>
        <tbody>
            
{% for entry in data %}

          <tr>
            <td> {{ entry.name }}</td>
            <td> {{ entry.app_name }}</td>
            <td>{{ entry.generated_password }}</td>
            <td>  {{ entry.password_length }} </td>
            <td> <a href="/update-password?edit={{entry.id}}"  class="text-decoration-none"><button class="btn btn-primary">  Edit  </button> </a> </td>
          </tr>
          
{% endfor %}
        </tbody>
      </table>
  </div>
  


{% endblock %}